<!DOCTYPE html>
<html>
<head>
    <style>
       body {
              background-color: #C2DED1;
            }
            
            h1 {
              color: #354259;
              text-align: center;
            }
        </style>
</head>
<body>
    <h1>Welcome to ATN shop</h1>
    <h1><a href="/login">Please login!</a></h1>
</body>
</html>